{% extends 'layout.html' %}{% block title %} Create Song {% endblock %} {% block body %}

<h1 class="text-center pt-4 mb-4 text-danger text-darken-4"> Create a New Song in this Album </h1>
<div class="container  text-lighten-5" style="position: relative;padding: 15px; background: rgba(0, 174, 255, 0.13);width: 40%;border-radius: 5%;font-size: 1.2rem;color: rgb(255, 208, 0);letter-spacing: 2px;">
    <form action="{% url 'music:create_song' album.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">{{ form.as_p }}</div>
        <input type="submit" value="Submit" class="btn btn-outline-warning form-control mb-2">
    </form>
</div>

{% endblock %}