{% extends 'layout.html' %} {% block title %} Music {% endblock %} {% block body %} {% if noalbum %}
<div class="alert alert-{{s_status}}" style="text-align: center;">
    {{noalbum}}
</div>
{% endif %}
<div class="container">
    <h1 style='text-align:center;font-size:4rem;color:rgb(166, 255, 0);letter-spacing:10px;margin:25px;padding:25px; font-family: satisfy;'>Music App</h1>
    {% if albums %}
    <div class="container">
        <div class="row">
            {% for album in albums %}
            <div class="col-md-6">
                <div class="card mb-4 bg-dark" style="margin-right: 0%;">
                    <a href="{% url 'music:album_details' album.id %}" style="text-decoration:none;">
                        <div class="card-header" style="text-align:center;">
                            {{album.album_title}}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{album.album_logo.url}}" style="width:200px;height:200px;" alt="logo">
                                </div>
                                <div class="col-md-6" style="text-align:center;font-size:2rem;">
                                    {{album.genre}}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer" style="text-align:right;">
                            By - {{album.artist}} &nbsp; | &nbsp;
                            <a href="{% url 'music:delete_album' album.id %}"><i class="fas fa-trash text-danger"></i></a> &nbsp; | &nbsp;
                            <i class="fas fa-star text-warning"></i>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        You have no albums added till now. <br> Why don't you add some?
    </div>
    {% endif %}
</div>
{% endblock %}a