{% extends 'layout.html' %} {% block title %} Music {% endblock %} {% block body %} {% if noalbum %}
<div class="alert alert-{{s_status}}" style="text-align: center;">
    {{noalbum}}
</div>
{% endif %}
<div class="container">
    <h1 style='text-align:center;font-size:4rem;color:rgb(166, 255, 0);letter-spacing:10px;margin:25px;padding:25px; font-family: satisfy;'>Products
    </h1>
    {% if request.user.is_active %}
    <h1 style='text-align:right;position: fixed; font-size:2rem;border: solid 5px aqua;padding: 10px; color:rgb(253, 236, 1) !important ; font-family: satisfy;top: 15%;right: 0%;'><a href="{% url 'music:profile' %}" style="text-decoration: none;"> Welcome :{{request.user.username}}</a></h1>
    {% endif %} {% if products %}
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-6">
                <div class="card mb-4 bg-dark" style="margin-right: 0%;">
                    <a href="{% url 'music:product_details' product.slug product.id %}" style="text-decoration:none;">
                        <div class="card-header" style="text-align:center;">
                            {{product.name}}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{product.img.url}}" style="width:200px;height:200px;" alt="logo">
                                </div>
                                <div class="col-md-6" style="text-align:center;font-size:2rem;">
                                    {{product.description}}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer" style="text-align:right;">
                            Price (per Kg) - {{ product.price }}
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="alert alert-danger">
        You have no products added till now.
    </div>
    {% endif %}
</div>
{% endblock %}a